ADDRESS=127.0.0.1
PORT=3000
DATABASE_URL=postgresql://beatriz:beatriz123@localhost:5432/if-reads
TEST_DB_URL=test-db-address
JWT_SECRET=trocar-por-um-segredo-forte
JWT_EXPIRATION=1h

FRONTEND_URL="http://127.0.0.1:3000"
